
h1{
    text-align: center;
}
   
    


.content {
    
    margin: 50;
    position:relative;
    padding: 10%;    
    text-align: center;
    top: 50%;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: -10px -10px 10px #a0e3ec;
   
}

