

h1 {
    margin-top: 20px;
}

#testimonial {
    background: #b1dce4;
    padding: 50px 0 30px 0;
    text-align:center;
    margin-top: 40px;
  }

  .barra-color {
      background-color: #b1dce4;
  }